#ddd {
    background-color: #182fd9bc;
}

img{
    margin-left: 2px;
    border-radius: 50%;
    border: 1px solid #43025abc;
    box-shadow: 0 4px 8px 0 #a618d9bc, 0 6px 20px 0 #a618d9bc;
}

button{
padding: 2px;
}