<div class="p-1 list-group">

      <a 
      class="list-group-item {{dis}}"
      [routerLink]="['/']" 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home</a>

      <a 
      class="list-group-item"
      [routerLink]="['contacts']" 
      routerLinkActive="active">Contacts</a>

      <a 
      class="list-group-item"
      [routerLink]="['search-contacts']" 
      routerLinkActive="active">Search contacts</a>

      <a 
      class="list-group-item"
      [routerLink]="['riend-requests']" 
      (click)="frReq = '';"
      routerLinkActive="active">Friend requests {{frReq}}</a>

      <a 
      class="list-group-item"
      [routerLink]="['im-following']" 
      routerLinkActive="active">I'm following</a>

      <a 
      class="list-group-item"
      [routerLink]="['chats']" 
      routerLinkActive="active">Chats</a>

      <a 
      class="list-group-item"
      [routerLink]="['weather']" 
      routerLinkActive="active">Weather</a>

      <a
      class="list-group-item {{dis}}"
      [routerLink]="['tickets']" 
      routerLinkActive="active">Tickets</a>

      <a 
      class="list-group-item"
      [routerLink]="['tickets-watching']" 
      routerLinkActive="active">Tickets watching</a>

      <a 
      class="list-group-item"
      [routerLink]="['tickets-executing']"
      (click)="ticEx = '';"
      routerLinkActive="active">Tickets executing {{ticEx}}</a>

</div>